In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ["EIN","NAME"])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Determine which values to replace if counts are less than ...?
#  YOUR CODE GOES HERE
replace_application = list(application_type_counts[application_type_counts < 1000].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
       
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1370        1
C1245        1
C6100        1
C2600        1
C1236        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [6]:
# Determine which values to replace if counts are less than ..?
#  YOUR CODE GOES HERE
replace_class = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [7]:
# Generate our categorical variable lists
#  YOUR CODE GOES HERE
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
#  YOUR CODE GOES HERE
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
# Merge one-hot encoded features and drop the originals
#  YOUR CODE GOES HERE
application_df = application_df.merge(encode_df,left_index=True,right_index=True).drop(application_cat,1)

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df.loc[:, application_df.columns != 'IS_SUCCESSFUL']
y = application_df.IS_SUCCESSFUL

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [42]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_inputs= len(X_train_scaled[0])
hidden_nodes_1 = 500
hidden_nodes_2 = 100
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_1, input_dim=number_inputs, activation='relu'))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_2, activation='relu'))

# Third hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=10, activation='relu'))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 500)               20500
_________________________________________________________________
dense_12 (Dense)             (None, 100)               50100
_________________________________________________________________
dense_13 (Dense)             (None, 10)                1010
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 11
=================================================================
Total params: 71,621
Trainable params: 71,621
Non-trainable params: 0
_________________________________________________________________

In [43]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [44]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5693 - accuracy: 0.7200: 0s - loss: 0.5696 - accuracy: 0.71
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5590 - accuracy: 0.7276: 0s - los
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5583 - accuracy: 0.7295
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5556 - accuracy: 0.7299
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5544 - accuracy: 0.7310
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7324
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5524 - accuracy: 0.7328
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7334
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5511 - accuracy: 0.7341
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7357
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7343
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7360
Epoch 13/50
804/804 [==============================] - 1s 873us/step - loss: 0.5485 - accuracy: 0.7360
Epoch 14/50
804/804 [==============================] - 1s 914us/step - loss: 0.5481 - accuracy: 0.7356
Epoch 15/50
804/804 [==============================] - 1s 881us/step - loss: 0.5482 - accuracy: 0.7360
Epoch 16/50
804/804 [==============================] - 1s 927us/step - loss: 0.5472 - accuracy: 0.7360
Epoch 17/50
804/804 [==============================] - 1s 866us/step - loss: 0.5469 - accuracy: 0.7359
Epoch 18/50
804/804 [==============================] - 1s 868us/step - loss: 0.5467 - accuracy: 0.7357
Epoch 19/50
804/804 [==============================] - 1s 882us/step - loss: 0.5466 - accuracy: 0.7360
Epoch 20/50
804/804 [==============================] - 1s 908us/step - loss: 0.5463 - accuracy: 0.7366
Epoch 21/50
804/804 [==============================] - 1s 875us/step - loss: 0.5462 - accuracy: 0.7369
Epoch 22/50
804/804 [==============================] - 1s 863us/step - loss: 0.5456 - accuracy: 0.7371
Epoch 23/50
804/804 [==============================] - 1s 866us/step - loss: 0.5456 - accuracy: 0.7377
Epoch 24/50
804/804 [==============================] - 1s 871us/step - loss: 0.5458 - accuracy: 0.7369
Epoch 25/50
804/804 [==============================] - 1s 903us/step - loss: 0.5452 - accuracy: 0.7377
Epoch 26/50
804/804 [==============================] - 1s 875us/step - loss: 0.5448 - accuracy: 0.7373
Epoch 27/50
804/804 [==============================] - 1s 940us/step - loss: 0.5448 - accuracy: 0.7369
Epoch 28/50
804/804 [==============================] - 1s 979us/step - loss: 0.5446 - accuracy: 0.7378
Epoch 29/50
804/804 [==============================] - 1s 939us/step - loss: 0.5446 - accuracy: 0.7381
Epoch 30/50
804/804 [==============================] - 1s 955us/step - loss: 0.5444 - accuracy: 0.7375
Epoch 31/50
804/804 [==============================] - 1s 939us/step - loss: 0.5444 - accuracy: 0.7384
Epoch 32/50
804/804 [==============================] - 1s 940us/step - loss: 0.5439 - accuracy: 0.7381
Epoch 33/50
804/804 [==============================] - 1s 944us/step - loss: 0.5434 - accuracy: 0.7381
Epoch 34/50
804/804 [==============================] - 1s 956us/step - loss: 0.5434 - accuracy: 0.7383
Epoch 35/50
804/804 [==============================] - 1s 984us/step - loss: 0.5433 - accuracy: 0.7380
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7380
Epoch 37/50
804/804 [==============================] - 1s 971us/step - loss: 0.5432 - accuracy: 0.7379
Epoch 38/50
804/804 [==============================] - 1s 943us/step - loss: 0.5425 - accuracy: 0.7387
Epoch 39/50
804/804 [==============================] - 1s 945us/step - loss: 0.5431 - accuracy: 0.7381
Epoch 40/50
804/804 [==============================] - 1s 944us/step - loss: 0.5432 - accuracy: 0.7386
Epoch 41/50
804/804 [==============================] - 1s 954us/step - loss: 0.5435 - accuracy: 0.7386
Epoch 42/50
804/804 [==============================] - 1s 948us/step - loss: 0.5427 - accuracy: 0.7385
Epoch 43/50
804/804 [==============================] - 1s 942us/step - loss: 0.5429 - accuracy: 0.7387
Epoch 44/50
804/804 [==============================] - 1s 939us/step - loss: 0.5418 - accuracy: 0.7389
Epoch 45/50
804/804 [==============================] - 1s 942us/step - loss: 0.5423 - accuracy: 0.7385
Epoch 46/50
804/804 [==============================] - 1s 943us/step - loss: 0.5418 - accuracy: 0.7389
Epoch 47/50
804/804 [==============================] - 1s 944us/step - loss: 0.5418 - accuracy: 0.7394
Epoch 48/50
804/804 [==============================] - 1s 970us/step - loss: 0.5416 - accuracy: 0.7390
Epoch 49/50
804/804 [==============================] - 1s 948us/step - loss: 0.5414 - accuracy: 0.7387
Epoch 50/50
804/804 [==============================] - 1s 939us/step - loss: 0.5417 - accuracy: 0.7386

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5602 - accuracy: 0.7256
Loss: 0.5601792335510254, Accuracy: 0.7255976796150208

In [33]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization1.h5')

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5560 - accuracy: 0.7264
Loss: 0.5560349822044373, Accuracy: 0.7264139652252197

In [38]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization2.h5')

In [45]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5599 - accuracy: 0.7255
Loss: 0.5599233508110046, Accuracy: 0.7254810333251953

In [46]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization3.h5')